{% extends 'gallery/base.html'%}
{% load static %}
{%  block content %}
    <form method="post" action="{% url 'category_add' %}">{% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-6">
              <label>Title:</label>
                {{form.title}}
            </div>

          </div>
         <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <hr>
    <div>
        <b>Category List:</b>
    </div>
    <div class="section mt-2">
        <table class="table  table-bordered">
          <thead class="">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Title</th>
              <th scope="col">Created Date</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
          {% for each in cat %}
            <tr>
              <th scope="row">{{forloop.counter}}</th>
              <td>{{each.title}}</td>
              <td>{{each.created_at}}</td>
              <td><a href="{% url 'category_edit' each.id %}" class="btn btn-primary">Edit</a></td>
            </tr>
          {% endfor %}

          </tbody>
        </table>

    </div>


{%  endblock %}