{% extends 'gallery/base.html'%}
{% load static %}
{%  block content %}
    <form method="post" enctype="multipart/form-data">{% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-6">
              <label>Name:</label>
                {{form.name}}
            </div>
            <div class="form-group col-md-6">
              <label>Category:</label>
                {{form.category}}
            </div>
          </div>
          <div class="form-group">
            <label>Upload Image:</label>
            {{form.image}}
          </div>
            {% if obj.image %}
                <div class="col-md-4 mt-1">
                <div class="card">
                    <img class="card-img-top" src="{{obj.image.url}}" alt="No image">
                </div>
            </div>
            {% endif %}

         <button type="submit" class="btn btn-primary">Submit</button>
    </form>

{%  endblock %}