{% extends 'gallery/base.html'%}
{% load static %}
{%  block content %}
    <div class="mt-2">
        <form>
            <b>Filter By Category: </b>
          <div class="form-group row">
            <div class="col-sm-10">
              {{form.category}}
            </div>
          </div>
          <button type="submit" class="btn btn-primary mb-2">Filter</button>
          <button class="btn btn-danger mb-2"><a href="{% url 'image_list' %}" class="text-white text-decoration-none">Cancel</a></button>
        </form>
    </div>
    <div class="row mt-2">
        {% if images %}
        {% for i in images %}
            <div class="col-md-4 mt-1">
                <div class="card">
                    {% if i.image %}
                        <img class="card-img-top" src="{{i.image.url}}" alt="{% static 'img/images.jpeg'%}">
                    {% else %}
                        <img class="card-img-top" src="{% static 'img/images.jpeg'%}" alt="Card image cap">
                    {% endif %}
                  <div class="card-body">
                    <h5 class="card-title">{{i.name}}</h5>
                    <p class="card-text">{{i.category.title}}</p>
                    <a href="{% url 'image_edit' i.id %}" class="btn btn-primary">Edit</a>
                  </div>
                </div>
            </div>
        {% endfor %}
        {% else %}

        <div class="no-image  align-items-center">
            <h1>Sorry !! No image Found ...</h1>
            <div>
                <button class="btn btn-success mb-2"><a href="{% url 'image_add' %}" class="text-white text-decoration-none">Add Image</a></button>
            </div>
        </div>

        {% endif %}
    </div>

{%  endblock %}